
    <div class="edit-pro">
      <!-- partial:../../partials/_sidebar.html -->
      
      <!-- partial -->
      <div class="">
        <!-- partial:../../partials/_navbar.html -->
        
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title"> Edit Product </h3>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                
                 
                </ol>
              </nav>
            </div>
            <div class="row">
              <div class="col-xl-12 stretch-card">
                <div class="card">
                  <div class="card-body">
                    
                    <form class="forms-sample" action="/admin/edit-product/{{product._id}}" method="post">

                      <div class="form-group">
                        <label for="exampleInputUsername1">Name</label>
                        <input type="text" class="form-control" name="name" id="exampleInputUsername1" placeholder="Name" 
                        value="{{product.name}}">
                      </div>

                      <div class="form-group">
                        <label for="exampleInputEmail1">Model</label>
                        <input type="text" class="form-control" name="model" id="exampleInputEmail1" placeholder="Model"
                        value="{{product.model}}">
                      </div>

                      <div class="form-group">
                        <label for="exampleInputPassword1">Price</label>
                        <input type="text" class="form-control" name="price" id="exampleInputPassword1" placeholder="Price" 
                        value="{{product.price}}">
                      </div>

                       <div class="form-group">
                        <label for="exampleTextarea1">Description</label>
                        <textarea class="form-control" name="description" id="exampleTextarea1" placeholder="Description" rows="4">
                        </textarea>
                      </div>

                       <div class="form-group">
                        <label>Image</label>
                        <img src="/product-images/{{product._id}}.jpg" alt="" style="width: 70px; height:auto" id="imgView">
                        <input type="file" name="image" class="file-upload-default">
                        <div class="input-group col-xs-12">
                          <input type="file" class="form-control file-upload-info" name="image" placeholder="Upload Image" onchange="viewImage(event)">
                          <span class="input-group-append">
                            <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                          </span>
                        </div>
                      </div>
                     
                    
                      <button type="submit" class="btn btn-primary mr-2">Submit</button>
                      <button class="btn btn-dark">Cancel</button>
                      
                    </form>
                  </div>
                </div>
              </div>
              
              
             
              
            
                        
              
              
              
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
         
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    
    <!-- endinject -->
    <!-- Plugin js for this page -->
    
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    
    <!-- endinject -->
    <!-- Custom js for this page -->
   
<style>
.edit-pro{
  margin-left: 20%;
}
</style>

<input type="text" value="{{product.description}}" id="description" hidden>

<script>
  document.getElementById("exampleTextarea1").defaultValue=document.getElementById("description").value;

  function viewImage(event){
    document.getElementById(imgView).src=URL.createObjectURL(event.target.files[0])
  }

</script>